# general
.idea
.DS_Store
*~
.sass-cache

# package control
meanauthapp/node_modules
meanauthapp/angular-src/node_modules

mytasklist/node_modules
mytasklist/angular-src/node_modules
mytasklist/angular-src/bower_components
