<div class="page-header">
  <h1>Reset Password</h1>
</div>

<form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regForm.$valid, confirmed)" novalidate>

  <div ng-class="{'has-success': (!regForm.firstPassword.$pristine && regForm.firstPassword.$valid), 'has-error': (!regForm.firstPassword.$pristine && regForm.firstPassword.$invalid) || (regForm.$submitted && regForm.firstPassword.$invalid)}">
    <label>Password:</label>
    <input ng-disabled="reset.disabled" type="password" name="firstPassword" placeholder="please enter password" class="form-control" ng-model="firstPassword" required
      ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/"
      ng-minlength="8" ng-maxlength="35">
    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">
      This field is required</p>
    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
      <li>Must not contain at least one lower case letter</li>
      <li>Must not contain at least one upper case letter</li>
      <li>Must not contain at least one number</li>
      <li>Must not contain at least one special character</li>
      <li>Must be at least 8 characters but not more than 35</li>
    </ul>
  </div>
  <br>

  <div ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required)}">
    <label>Password:</label>
    <input ng-disabled="reset.disabled" type="password" name="confirmPassword" placeholder="please enter password" class="form-control" ng-change="reset.regData.password = confirm" match="{{[firstPassword]}}" ng-model="confirm" required>
    <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">
      This field is required</p>
    <p ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Password do not match</p>
  </div>
  <br>

  <button ng-disabled="reset.disabled" class="btn btn-primary">Reset Password</button>

</form>

<br>

<div class="jumbotron text-center" ng-show="reset.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.successMsg">
  <div class="alert alert-success">{{ reset.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.errorMsg">
  <div class="alert alert-danger">{{ reset.errorMsg }}</div>
</div>
